{% extends 'inventory/base.html' %}

{% block title %}Lista de Manutenções{% endblock %}

{% block content %}
<h1>Manutenções</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Status</th>
            <th>Data de Criação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for manutencao in manutencoes %}
        <tr>
            <td>{{ manutencao.nome_cliente }}</td>
            <td>{{ manutencao.status }}</td>
            <td>{{ manutencao.data_criacao|date:"d/m/Y" }}</td> <!-- Formatação da data -->
            <td>
                <a href="{% url 'manutencao_edit' manutencao.pk %}" class="btn btn-sm btn-warning">
                    <i class="bi bi-pencil"></i> Editar
                </a>
                <a href="{% url 'manutencao_delete' manutencao.pk %}" class="btn btn-sm btn-danger">
                    <i class="bi bi-trash"></i> Excluir
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'manutencao_add' %}" class="btn btn-primary">
    <i class="bi bi-plus-circle"></i> Adicionar Manutenção
</a>
{% endblock %}