{% extends 'inventory/base.html' %}

{% block title %}Excluir Manutenção{% endblock %}

{% block content %}
<h1>Excluir Manutenção</h1>
<p>Você tem certeza que deseja excluir a manutenção "{{ manutencao.nome_cliente }}"?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">
        <i class="bi bi-trash"></i> Confirmar Exclusão
    </button>
    <a href="{% url 'manutencao_list' %}" class="btn btn-secondary">
        <i class="bi bi-x-circle"></i> Cancelar
    </a>
</form>
{% endblock %}